body {
  font-family: Roboto;
  background-color: #EEF9BF;
}
.area-container{
  width: 100%;
  height: 100%;
}
.area-titulo{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.area-titulo .titulo {
  margin: 50px 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.area-titulo .titulo h1{
  font-size: 56px;
  font-weight: 700;
  color: #75B79E;
}
.area-cartas {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cartas {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.carta {
  width: 117px;
  height: 147px;
  background-color: #A7E9AF;
  border-radius: 10px;
  border: 1px solid #99CEA8;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform .5s;
  cursor: pointer;
}
.absolute{
  position: absolute;
  margin: 0;
}
.virar{
  transform: rotateY(180deg);
}
.carta img{
  width: 100px;
  position: absolute;
}
.esconder{
  opacity: 0;
}
.area-titulo > div{
  position: relative;
  display: flex;
  justify-content: center;
}
.relogio{
  position: absolute;
  width: 80px;
  height: 50px;
  right: -100px;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}
@media(max-width: 614px){
  .area-titulo .titulo h1{
    font-size: 36px;
  }
  .area-titulo .titulo{
    width: 90%;
  }
  .cartas{
    width: 90%;
  }
  .relogio{
    height: 40px;
    width: 60px;
    font-size: 14px;
    right: 0px;
  }
}